#h1 {
  margin-bottom: 150px;
  font-family: 'Playfair Display', serif;
  font-size: 5.57em;
  letter-spacing: 3.75px;
  font-weight: 100;
  color: #fcfced;
  text-align: center;
}

#controls {
  padding: 30px;
}

#TableGame, #controls {
  position: relative;
  margin: auto;
  border: none;
  width: 525px;
  font-family: 'Average', sans-serif;
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.img:hover {
  background: #000;
  transition-property: all;
  transition-duration: .9s;
}

td.img {
  background-color: transparent;
  background-image: center;
}

img {
  max-width: 100%;
}

#start, #highS, #resetPlayer {
  background: transparent;
  margin: 30px;
  padding: -3px;
  color: #fcfced;
  font-family: 'Average', sans-serif;
  font-size: .55em;
  border-radius: 30%;
}

#start:hover, #highS:hover, #resetPlayer:hover {
  background: #000;
}

table tr td {
  height: 100px;
  width: 100px;;
  background: transparent;
  border: solid;
  border-color: #fcfced;
}

table tr {
  height: 100%;
  width: 100%;
  background: transparent;
}
